# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo

# ===============================
# Virtual environment
# ===============================
.venv/
venv/
env/

# ===============================
# Jupyter Notebook
# ===============================
.ipynb_checkpoints/

# ===============================
# Dados locais (ETL)
# ===============================
data/

# ===============================
# Variáveis de ambiente / segredos
# ===============================
.env
*.env

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# IDEs / Editores
# ===============================
.vscode/
.idea/

# ===============================
# Sistema operacional
# ===============================
.DS_Store
Thumbs.db
