# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo

# ===============================
# Virtual environment
# ===============================
.venv/
venv/
env/

# ===============================
# Jupyter Notebook
# ===============================
.ipynb_checkpoints/

# ===============================
# Dados locais (ETL)
